
<p>User Name: <%= @user.name %> </p>
<p>Email: <%= @user.email %> </p>
<a href='/users/<%= @user.id %>/edit'>Edit Profile</a>

<form action='/secrets/create' method='post'>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<input type='hidden' name='id' value='<%= @user.id %>'>
<label for='New Secret'>New Secret</label>
<input type='text' name='New Secret'>
<button type='submit'>Create Secret</button>
</form>

<% @secrets.each do |secret| %>

<p><%= secret.content %></p>
<form action='/secrets/delete' method='post'>
<input name='_method' value='delete'>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<input name='secret_id' value='<%= secret.id %>'>
<input name='user_id' value='<%= @user.id %>'>
<button type='submit'>Delete</button>
</form>
<% end %>